@charset "UTF-8";



$green: rgb(26,154,138);
$blue: rgb(32,57,77);
$light: rgb(253,248,246);

.gdm-wrapper {
  display: flex;
}

.gdm-nav,
.gdm-view {
  height: 100vh;
}

.gdm-nav {
  flex: 1 0 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.gdm-view {
  flex: 2 1 66%;
}
