@charset "UTF-8";

@import
  "../bootstrap-variables",                  // See _bootstrap-variables.scss
  "../../_vendor/bootstrap/scss/bootstrap",  // See _vendor/bootstrap/scss/bootstrap.scss
  "layout",
  "navigation",
  "scrollbar";

  @import url("https://fonts.googleapis.com/css?family=Oswald");

  body{
    background-color: $light;
    font-family: Oswald, sans-serif;
    color: $blue;
  }

  a{
    color: $light;
  }

  .nav-link.disabled,{
    color: $blue;
  }